page-home {
    .options{
        display: inline-block;
      }
    .disabled{
        color: lightgrey;
    }
    .header{
      background-color:#432303;

    }
    .content{
        background-color: #f2f2f2;
    }
    // #test{
    //    background-color:lightgrey;
    // }
}

.my-checkbox {
    margin: 0 30px;
    display: flex;
    align-items: center;
}
.nav{
    background-color:#9a7858;
    margin: 15px 0 0 0;
}

.menu-bar{
  background-color: #9a7858;
}
